@charset 'utf-8';

.mainSl_outer {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}
.mainSl_wrap {
  overflow: hidden;
}
.mainSl_wrap img {
  width: 100%;
  height: auto;
}
.mainSl_main_wrap {
  position: relative;
  width: 100%;
  z-index: 1d;
}
.mainSl_thumb_wrap {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  z-index: 3;
}
.mainSl_thumb_con {
  width: 50%;
  margin: 0 auto 0 0;
  overflow: hidden;
}
.mainSl_thumb_img {
  height: 6.8dvw;
  max-height: 84px;
  overflow: hidden;
}
.mainSl_thumb_con img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
