@charset 'utf-8';

.noImage_wrap {
  position: relative;
  width: 100%;
  background: var(--noimage-bg);
}

.noImage_con {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: var(--noimage-text);
}
.noImage_con svg {
  fill: inherit;
  width: 35px;
  height: 35px;
  opacity: 0.6;
}
