@charset 'utf-8';

.ticket_detail_wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.ticket_detail_main {
  display: flex;
  align-items: stretch;
  max-width: 1200px;
  margin: 30px auto;
  gap: 25px;
}
.ticket_reserv_date_wrap {
  position: relative;
  width: 40%;
  max-width: 350px;
  min-height: 100dvh;
}

.ticket_reserv_date_sticky {
  position: sticky;
  top: 90px;
  width: 100%;
}
.ticket_reserv_date_con {
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
.ticket_reserv_date_con h5 {
  padding: 10px 0;
  font-weight: 700;
}
.ticket_reserv_btn {
  display: block;
  width: 100%;
  margin: 15px 0;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 15px 10px;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.06em;
  background: var(--primary-color);
  color: var(--white-color);
  transition: 0.2s;
}
.ticket_reserv_btn:hover {
  opacity: 0.7;
}
.ticket_reserv_btn:disabled,
.ticket_reserv_btn:disabled:hover {
  color: var(--white-color);
  background: var(--border-color);
  border-color: var(--border-color) !important;
  pointer-events: none;
  cursor: default;
}

/* star_rating */
.star_rating {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.star_rating svg {
  fill: var(--star-bg);
  color: var(--star-bg);
}
.str_rating_txt {
  margin: 0 2px;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--star-rate-txt);
}

/* ticket detail */

.ticket_detail_con {
  flex: 1;
}

.ticket_tag_area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.ticket_tag_area button {
  border-radius: 2px;
  padding: 6px 10px;
  border: 1px solid var(--sm-button-hov-color);
  color: var(--sm-button-hov-color);
  font-size: 0.75rem;
  min-width: 65px;
  display: inline-block;
  margin: 0 6px 0 0;
  cursor: unset;
}
.ticket_header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px 0px 25px;
}
.ticket_islicked {
  color: var(--like-bg);
  cursor: pointer;
}
.ticket_islicked svg {
  width: 25px;
  height: 25px;
  fill: var(--like-bg);
}
.ticket_title p {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 0 0 8px;
}
.ticket_info_sum {
  display: flex;
  gap: 20px;
}
.ticket_poster {
  width: 50%;
  max-width: 450px;
  overflow: hidden;
  border-radius: 8px;
  height: 35vw;
  max-height: 500px;
}
.ticket_poster img {
  width: 120%;
  margin-left: -10%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.ticket_sum {
  flex: 1;
  flex-grow: 1;
  padding: 10px;
}
.ticket_sum li {
  display: flex;
  margin: 10px 0 25px;
  font-size: 1.1rem;
}
.ticket_sum b {
  width: 30%;
  max-width: 100px;
  font-weight: 600;
}
.ticket_sum li > span {
  flex: 1;
  font-weight: 300;
  font-size: 1rem;
}
.ticket_sum .ticket_pirce {
  flex: 1;
}
.ticket_sum .ticket_pirce li {
  margin: 0 0 15px;
}
.ticket_sum .ticket_pirce b {
  display: inline-block;
  margin-right: 6px;
  width: auto;
  max-width: unset;
  font-size: 1rem;
  color: var(--font-help);
}


/* ticketDetailConetents */
.ticket_main_info_wrap {
  margin: 30px 0;
  padding: 20px 0;
}
.ticket_tab {
  width: 100%;
  border-bottom : 2px solid var(--border-color);
  margin: 0 0 30px;
}
.ticket_tab button {
  padding: 15px;
  font-size: 1rem;
  color: var(--font-help);
  font-weight: 600;
}
.ticket_tab button.on {
  color: var(--font-color);
}

.ticket_main_info_detail {
  padding: 15px 10px;
  min-height: 320px;
}