@charset 'utf-8';

.login_wrap {
  max-width: 500px;
  width: 100%;
  margin: 60px auto;
}

.login_input_con {
}
.login_input_con input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  padding: 15px 10px;
  margin: 10px auto;
}
.login_input_con input:focus {
  border-color: var(--input-focus);
}
