@charset 'utf-8';
@import 'pretendard/dist/web/variable/pretendardvariable.css';

:root {
  --font-family: 'Pretendard Variable', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --logo-text-gradient: linear-gradient(#ffcdf0 10%, #9acbff 100%);
  --backgound: #fff;
  --font-color: #232323;
  --font-help: #b2b2b2;
  --error-color: #ff5436;
  --md-xxl-dvw : 1400px;
  --md-xl-dvw : 1200px;
  --md-lg-dvw : 992px;
  --md-md-dvw : 768px;
  --md-sm-dvw : 576px;
  --noimage-bg : #eee;
  --noimage-text: #9d9d9d;
  --like-bg : #ff6a6a;
  --star-bg :#ffcb2f;
  --star-rate-txt: #444;
  --modal-bg: rgba(0,0,0,0.75);
}

body[data-theme='light_mode'] {
  --backgound: #fff;
  --white-color: #fff;
  --font-color: #232323;
  --border-color: #ddd;
  --input-focus: #9acbff;
  --primary-color: #77b2f1;
  --toggle-button-color: #efefef;
  --sm-button-color: #dee8f3;
  --sm-button-hov-color: #8097b0;
  --footer-bg: #525a7f;
  --footer-font: #c6bfd9;
  --footer-border: #d2c8e266;
  --search-sub:#555;
  --search-help:#999;
  --date-range: #ffb3b8;
  --date-range-bg: #e1cdf863;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: var(--backgound);
  color: var(--font-color);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
select {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}
a {
  display: block;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
input,
label {
  display: inline-block;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
/* body[data-theme='dark_mode'] {
  후에 다크모드 추가시
} */
