@charset 'utf-8';
/* component list (header 관련)
Header.tsx
Logo.tsx
SearchCon.tsx
*/

/* ====== Header.tsx START ====== */
.header_wrap {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.header {
  width: 100%;
  padding: 10px 0;
  max-width: 1240px;
  display: flex;
  align-items: center;
}

/* ====== Header.tsx E N D ====== */

/* ====== Logo.tsx START ====== */
.logo {
  padding: 10px;
  font-size: 2rem;
  font-weight: 900;
  font-variant: small-caps;
  letter-spacing: -0.04em;
  background: var(--logo-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
/* ====== Logo.tsx E N D ====== */

/* ====== SearchCon.tsx START ====== */
.search_con {
  flex: 2;
  max-width: 700px;
}
.search_input {
  width: 100%;
  margin: 5px 10px 0;
  position: relative;
}
.search_input input {
  border: 1px solid var(--border-color);
  border-radius: 10rem;
  padding: 10px 15px;
  width: 100%;
  font-size: 1rem;
  line-height: 1.2;
}
.search_input input:focus {
  border-color: var(--input-focus);
}
.search_input input:focus ~ span {
  color: var(--input-focus);
}
.search_input span {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -42%);
  color: #ccc;
}
/* ====== SearchCon.tsx E N D ====== */

/* ====== HeaderTabs.tsx START ====== */
.headerTab_btn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  margin: 0 0 0 15px;
}
.headerTab_btn a {
  margin: 0 4px;
  transition: 0.2s;
}
.headerTab_btn a:hover {
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: -0.01px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
/* ====== HeaderTabs.tsx E N D ====== */
